@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;500;700&display=swap");

// ## Colors

// ### Primary

$Strong-cyan: hsl(172, 67%, 45%);

// ### Neutral

$Very-dark-cyan: hsl(183, 100%, 15%);
$Dark-grayish-cyan: hsl(186, 14%, 43%);
$Dark-grayish-cyan: hsl(184, 14%, 56%);
$Light-grayish-cyan: hsl(185, 41%, 84%);
$Light-grayish-cyan-2: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);

$light: 400;
$medium: 500;
$bold: 700;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Space Mono", monospace;
}

body {
  background-color: $Light-grayish-cyan;
}

.container {
  height: auto;
  width: 100%;
}
